{% if cdx %}
<script>
  wbinfo.m_first = "{{ cdx.first }}";
  wbinfo.m_last = "{{ cdx.last }}";
  wbinfo.m_prev = "{{ cdx.prev }}";
  wbinfo.m_next = "{{ cdx.next }}";
</script>
{% else %}

<script src="/static/m/d3.v3.min.js"> </script>

<script src="/static/m/c3.min.js"></script>

<script src="/static/m/chart.js"> </script>

<style>

#mt_banner
{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  background-color: white;

/*  position: absolute;*/
  border: 0px;
  height: 110px !important;
}

.wb_iframe
{
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  border: 0px;
}
</style>

<script>

var updater_id = undefined;
  
_wb_js.create_banner_element = function(banner_id)
{
  if (document.readyState !== 'complete') {
    updater_id = window.setInterval(update_while_loading, 2000);
  };
  
  banner_id = "mt_banner";
  var banner = document.createElement("div");
  banner.setAttribute("id", banner_id);
  banner.setAttribute("lang", "en");
  //banner.setAttribute("src", "/static/m/banner.html");
  d3.html("/static/m/banner.html", function(err, html) {
    if (err) {
      console.log(error);
    }
    banner.appendChild(html);
    init_banner();
  });
  document.body.insertBefore(banner, document.body.firstChild);
  
  window.set_state = function(state) {
    curr_state = state;
    do_update();
  }
      
  return banner_id;
}

function update_while_loading()
{
  if (document.readyState === 'complete') {
      window.clearInterval(updater_id);
      // don't call do_update, that's called by eventlistener
  } else {
      do_update();
  }
}

function do_update()
{
  var info;
  
  if (window.frames[0].wbinfo) {
    info = window.frames[0].wbinfo;
  } else {
    info = {}
    info.url = curr_state.url;
    info.timestamp = curr_state.timestamp;
  }
  update_banner(info);
}

</script>
{% endif %}
