<!DOCTYPE html>
<html>
  <head>
    <script>
      wbinfo = {}
      wbinfo.prefix = "{{ wbrequest.wb_prefix }}";
      wbinfo.capture_url = "{{ url }}";
      wbinfo.timestamp = "{{ wbrequest.wb_url.timestamp }}";
      {% if wbrequest.wb_url.timestamp %}
      wbinfo.seconds = {{ wbrequest.wb_url.timestamp | format_ts('%s') }};
      {% endif %}
      wbinfo.is_frame = true;
    </script>

    <script src='{{ wbrequest.host_prefix }}/{{ static_path }}/wb.js'> </script>

    <script src="/static/m/d3.v3.min.js"></script>

    <script src="/static/m/c3.min.js"></script>
    <link href="/static/m/c3.css" rel="stylesheet" type="text/css">

    <link href="/static/m/tt.css" rel="stylesheet" type="text/css">

    <script src="/static/m/moment.min.js"></script>

    <script src="/static/m/chart.js"></script>

    <script src='{{ wbrequest.host_prefix }}/{{ static_path }}/wb_frame.js'></script>
  </head>
  <body>
    <div id="mt_banner">
      <div class="mem-nav">
        <p>
          <a id="m_first" href="">&lt;&lt;</a>&nbsp;
          <a id="m_prev" href="">&lt;</a>&nbsp;
          <a title="Powered By Memento and pywb" href="http://mementoweb.org/about/"><img id="icon" src="/static/m/memento_logo.svg" class="icon rotate"/></a>&nbsp;
          <a id="m_next" href="">&gt;</a>&nbsp;
          <a id="m_last" href="">&gt;&gt;</a>
        </p>
        <p id="ts_info"></p>
      </div>
      <div id="hostchart" class="host-chart"></div>
      <div class="scatter-chart-cont">
        <div id="scatterchart" class="scatter-chart"></div>
        <div id="scattertitle" class="scatter-chart-title">Memento Time Span: <b id="scatterspan">Calculating...</b></div>
      </div>
    </div>
    <script>
      update_capture_info(wbinfo.seconds);
      init_moment_js();
    </script>
    <a id="banner_toggle" href="#" onclick="toggle_banner()">X</a>
    <iframe src="{{ wbrequest.wb_prefix + embed_url }}" onload="iframe_loaded(event);" seamless="seamless" 
            frameborder="1" scrolling="no" class="wb_iframe"
            sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-pointer-lock"/>
  </body>
</html>
