<html>
<head>
<script>
function ts_to_date(ts, is_gmt)
{
    if (ts.length < 14) {
        return ts;
    }

    var datestr = (ts.substring(0, 4) + "-" +
                  ts.substring(4, 6) + "-" +
                  ts.substring(6, 8) + "T" +
                  ts.substring(8, 10) + ":" +
                  ts.substring(10, 12) + ":" +
                  ts.substring(12, 14) + "-00:00");

    var date = new Date(datestr);
    if (is_gmt) {
        return date.toGMTString();
    } else {
        return date.toLocaleString();
    }
}
var cdx_json = {{ cdx_json | safe }};
</script>


<script src="/static/m/d3.v3.min.js"> </script>
<script src="/static/m/c3.min.js"> </script>
<link href="/static/m/c3.css" rel="stylesheet"/>

<script src="/static/m/chart.js"> </script>

</head>
<body>
  <h2>TimeTravel Timemap</h2>
  {% if cdx_lines | length > 0 %}
  {% set page_size = 1000 %}

  <p>Showing <b>{{ offset }}</b> to <b>{{ offset - 1 + cdx_lines | length }}</b> captures of <b>{{ url }}</b>
  </p>

  <p>
  {% if offset >= page_size %}
  <a href="{{ prefix }}{{ offset - page_size }}*/{{ url }}">Prev Results</a>
  {% endif %}

  {% if page_size == cdx_lines | length %}
  <a href="{{ prefix }}{{ offset + page_size }}*/{{ url }}">Next Results</a>
  {% endif %}
  </p>

  <div style="display: inline-block">
  <table id="captures" style="border-spacing: 10px;">
    <tr>
      <th>Capture</th>
      <th>Archive Host</th>
    </tr>
    {% for cdx in cdx_lines  %}
    <tr style="{{ 'font-style: italic' if cdx.excluded else '' }}">
      <td>

      {% if not cdx.excluded %}
      <a href="{{ prefix }}{{ cdx.timestamp }}/{{ cdx.url }}">
      <script>document.write(ts_to_date("{{ cdx['timestamp']}}", true))</script>
      </a>
      {% else %}
      <script>document.write(ts_to_date("{{ cdx['timestamp']}}", true))</script>
      {% endif %}

      </td>
      <td>{{ cdx.src_host }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>

  <div id='hostchart' style="display: inline-block; vertical-align: top; width: 500px; height: 500px">
  <svg></svg>
  </div>
  <script>init_host_chart(cdx_json_to_host_agg(cdx_json));</script>

  {% else %}
  <i>No captures found for <b>{{ url }}</b></i>
  {% endif %}
</body>
</html>
